.categories {
  overflow-x: auto;
  white-space: nowrap;
}

.categories li {
  display: inline-block;
  margin-right: 10px;
  background-color: #eee;
  padding: 7px 15px;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.categories li:hover {
  background: #ddd;
}

.categories::-webkit-scrollbar {
  display: none;
}

.categories {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
