.home {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 40px;
}

.card {
  width: min-content;
}

.card img {
  border-radius: 30px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.home a {
  color: black;
  font-size: 1.2rem;
}

.home h4 {
  margin-bottom: 5px;
}

.home .details {
  font-size: 0.7rem;
  color: #777;
}

.details p {
  margin-bottom: 0px;
}

.details span {
  display: inline-block;
  margin-right: 20px;
}

.img-wrapper {
  position: relative;
}

#duration {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #ccc;
}
