header {
  padding-left: 20px;
  background-color: white;
  color: rgb(0, 0, 0);
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 15px 30px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1;
}

header article {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.3s ease;
}

header ul {
  padding: 0;
}

header ul li {
  display: inline-block;
  /* padding: 0 25px; */
  transition: 0.3s ease;
  margin-right: 30px;
}

header a {
  color: #555;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  filter: drop-shadow(5px 5px 3px #888);
}
header li:hover,
header article:hover {
  transform: scale(1.25);
}

header img {
  height: 25px;
}
