.search-form {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-wrap {
  height: 32px;
  border: 1px solid #999;
  border-radius: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 35px;
  margin-right: 5px;
}

.select-wrap label {
  position: absolute;
  top: -5px;
  font-size: 9px;
  outline: none;
  z-index: 100;
  background: white;
}

.select-wrap select {
  border: none;
}
select:focus-visible {
  outline: none;
}

.search-form input {
  width: 60%;
  min-width: 150px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #999;
  transition: 0.2s ease-in-out;
}

.search-form input::placeholder {
  text-align: left;
  color: #bbb;
}

.search-form input:hover {
  transform: scale(1.009);
}

.search-form button {
  padding: 0px 20px;
  color: white;
  font-weight: bold;
  font-size: 1.05rem;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  background-color: transparent;
  right: 65px;
}

.search-form button:hover {
  transform: scale(1.03);
}

.search-form input {
  padding-left: 20px;
  font-size: 1.2rem;
}
