.search-form {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.search-form input {
  width: 60%;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #333;
  transition: 0.2s ease-in-out;
  position: relative;
}

.search-form input:hover {
  transform: scale(1.009);
}

.search-form button {
  padding: 0px 20px;
  color: white;
  font-weight: bold;
  font-size: 1.05rem;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  background-color: transparent;
  right: 65px;
}

.search-form button:hover {
  transform: scale(1.03);
}

.search-form input {
  padding-left: 20px;
  font-size: 1.2rem;
}
